@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  text-align: center;
  color: black;
}
.bg-img {
  background: url("./assets/bg.jpg");
  background-size: cover;
  min-height: 300px;
}
.baseFont {
  font-family: "Roboto";
}
.app-input {
  height: 50px !important;

  border-color: blue !important;
}
.sidebar-main {
  /* height: 100vh !important; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-list {
  cursor: pointer;
}
.slimscroll-chat {
  max-height: 370px;
  min-height: 370px;
  overflow-y: scroll;
}
